<div class="black" id="Home">
  <div class="container">

    <div class="card-panel hoverable red darken-4">

      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel black darken-4 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="./assets/me-bro.jpg" alt="Macharia Mark" class="responsive-img me"> 
            <h4 class="white-text mt-4">
 
              <a href=""></a>
              <img src="./assets/kisspng-running-physical-exercise-anti-müllerian-hormone-people-running.png" class="icon" [appHighlight]="'lime'" alt="person running">
              Chassing the bag
            </h4>
            </div>
            <div class="col s10">
              <span class="red-text">
                <h4 class="m-4">Software Developer.</h4>
                <p class="m-4"><i class="material-icons icon">person_pin_circle</i>Moringa School</p>
              </span>
              <p class="red-text m-4">
                <i class="material-icons icon pb-2">place</i> 
                Nairobi, Kenya.
              </p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="header text-center">
        <i class="material-icons">details</i>
        Pinned Repositories
      </h2>

      <div class="row">
      <div class="col s12 m7 l6">
        <div class="card horizontal black darken-4">
          <div class="card-stacked">
            <div class="card-content white-text">
              <div><a href="https://github.com/MachariaMark"><i class="material-icons right">verified_user</i></a></div>
              <h5>Goals.</h5>
              <p>Angular practice.</p>
              <div class="right">
                <p class="red-text darkend-4"><i class="material-icons left">info</i><small>TypeScript</small></p>
              </div>
            </div>
            <div class="card-action">
            
              <a href="#"><i class="material-icons left">info</i></a>
              <a href="https://github.com/MachariaMark/Goals" target="_blank"><i class="material-icons left">explore</i></a>
              <a href="#"><i class="material-icons left">stars</i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m7 l6">
        <div class="card horizontal black darken-4">
          <div class="card-stacked">
            <div class="card-content white-text">
              <div><a href="https://github.com/MachariaMark"><i class="material-icons right">verified_user</i></a></div>
              <h5>Quotes.</h5>
              <p>
                This project is an application where users can create quotes and 
                have those quotes voted on whether they are terrible or are inspirational. 
              </p>
              <div class="right">
                <p class="red-text darkend-4"><i class="material-icons left">info</i><small>TypeScript</small></p>
              </div>
            </div>
            <div class="card-action">
              <a href="#"><i class="material-icons left">info</i></a>
              <a href="https://github.com/MachariaMark/Quotes" target="_blank"><i class="material-icons left">explore</i></a>
              <a href="#"><i class="material-icons left">stars</i></a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col s12 m7 l6">
        <div class="card horizontal black darken-4">
          <div class="card-stacked">
            <div class="card-content white-text">
              <div><a href="https://github.com/MachariaMark"><i class="material-icons right">verified_user</i></a></div>
              <h5>your-piece-pizza.</h5>
              <p>
                My own a pizza place as a way of trying to widen my overall customer base, 
                I decided to create a web application where my customers order different sizes of pizzas with one or more toppings.
              </p>
              <div class="right">
                <p class="red-text darkend-4"><i class="material-icons left">info</i><small>JavaScript</small></p>
              </div>
            </div>
            <div class="card-action">
              <a href="#"><i class="material-icons left">info</i></a>
              <a href="https://github.com/MachariaMark/your-piece-pizza" target="_blank"><i class="material-icons left">explore</i></a>
              <a href="#"><i class="material-icons left">stars</i></a>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col s12 m7 l6">
        <div class="card horizontal black darken-4">
          <div class="card-stacked">
            <div class="card-content white-text">
              <div><a href="https://github.com/MachariaMark"><i class="material-icons right">verified_user</i></a></div>
              <h5>Ghanian-culture.</h5> 
              <p>This is a web application that takes a user's birthday and 
                calculates the day of the week they were born then 
                depending on their gender outputs their Akan Name. 
              </p>
              <div class="right">
                <p class="red-text darkend-4"><i class="material-icons left">info</i><small>JavaScript</small></p>
              </div>
            </div>
            <div class="card-action">
              <a href="#"><i class="material-icons left">info</i></a>
              <a href="https://github.com/MachariaMark/Ghanian-culture" target="_blank"><i class="material-icons left">explore</i></a>
              <a href="#"><i class="material-icons left">stars</i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m7 l6">
        <div class="card horizontal black darken-4">
          <div class="card-stacked">
            <div class="card-content white-text">
              <div><a href="https://github.com/MachariaMark"><i class="material-icons right">verified_user</i></a></div>
              <p>Address Book.</p>
              <div class="right">
                <p class="red-text darkend-4"><i class="material-icons left">info</i><small>JavaScript</small></p>
              </div>
            </div>
            <div class="card-action">
              <a href="#"><i class="material-icons left">info</i></a>
              <a href="https://github.com/MachariaMark/address-book" target="_blank"><i class="material-icons left">explore</i></a>
              <a href="#"><i class="material-icons left">stars</i></a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col s12 m7 l6">
        <div class="card horizontal black darken-4">
          <div class="card-image">
            <img src="">
          </div>
          <div class="card-stacked">
            <div class="card-content white-text">
              <div><a href="https://github.com/MachariaMark"><i class="material-icons right">verified_user</i></a></div>
              <h5>Github-Search.</h5>
              <p>
                This is an application where by the user can enter a GitHub username into 
                a form, submit it, and see names and descriptions of that person's public repositories, 
                as well as looking  for repositories
              </p>
              <div class="right">
                <p class="red-text darkend-4"><i class="material-icons left">info</i><small>TypeScript</small></p>
              </div>
            </div>
            <div class="card-action">
              <a href="#"><i class="material-icons left">info</i></a>
              <a href="https://github.com/MachariaMark/Github-Search" target="_blank" ><i class="material-icons left">explore</i></a>
              <a href="#"><i class="material-icons left">stars</i></a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="show-on-small hide-on-large-only lime-text accent-3">
      <h1><b>BUY A LAPTOP BRO !!!</b></h1>
    </div>
  </div>

  <footer class="page-footer red darken-4" id="ContactMe">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">Contact Me</h5>
          <ul class="black-text text-lighten-4">
            <li>
              <A class="black-text text-lighten-3" HREF="mailto:official1offmark@gmail.com" target="_blank">
                <i class="material-icons pb-2 mr-2">mail</i>
              </A>
              <i class="material-icons pb-2">keyboard_backspace</i> Click to mail me 
            </li>
            <li><i class="material-icons icon pb-2">phone</i>+254717761398</li>
            <li> <i class="material-icons icon pb-2">place</i>Nairobi, Kenya</li>
            <li><i class="material-icons icon">person_pin_circle</i>Moringa School</li>

          </ul>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="black-text">Socials</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com" target="_blank"><img src="./assets/kisspng-social-media-facebook-computer-icons-logo-facebook.png" class="icon" alt="facebook"></a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com" target="_blank"><img src="./assets/kisspng-social-media-computer-icons.png" class="icon" alt="instagram"></a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.twitter.com"target="_blank"><img src="./assets/twitter.png" class="icon" alt="twitter"></a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/channel/UCDE9D_2439Kro6tbYOB05HQ" target="_blank"><img src="./assets/kisspng-youtube-logo-computer-icons.png" class="icon" alt="youtube"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container text-center">
        © 2019 Copyright Macharia Mark
      </div>
    </div>
  </footer>
</div>